html {
    background-image: url("../images/stardust/stardust.png");
}

h2 {
    color: #4aaaa5;
}

.container{
    width: 960px;
}

.main-content {
    padding: 5px 15px 20px 15px;
    background-color: #ffffff;
}